<!DOCTYPE html>
<html>
<head>
  <title>CantangoEditor</title>
  <%= stylesheet_link_tag    "cantango_editor/application" %>
  <%= yield :styles %>
  <%= javascript_include_tag "cantango_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
