<%= form_tag permissions_path, :remote => true, :method => :post do %>
  <!-- submit_tag -->

<% @permissions_types.each do |ptype| %>

  <table>
    <th class="permissions_type">
      <%= ptype %>
    </th>
    <% @permissions_groups[ptype].each do |pgroup| %>
      <tr>
        <td colspan="4"><%= pgroup %></td><!--td></td><td></td><td></td-->
      </tr>    
      <th></th> <th></th>  <th>can </th>  <th>cannot</th>
      <% @actions.each do |crud_action| %> 
      <tr> 
        <td> </td>
        <td class="actions_cell"> <%= crud_action %> </td> 
        <% [:can, :cannot].each do |can_action| %>
        <td class="models_cell"> 
          <% (targets = @permissions[ptype][pgroup][can_action][crud_action]).each do |model| %>
            <%= model_tag model %>
            &nbsp; 
            <!-- TODO: Options for applying '//', '^' or others to given model -->
            <!--small>- more options -</small-->
            <span class="delete_target_section">
              <%= hidden_field_tag "delete_target_field", model, :class => "delete_target_field", :name => "delete_permissions[#{ptype}][#{pgroup}][#{can_action}][#{crud_action}][]", :disabled => "disabled" %>
              <%= link_to "x", "#", :class => "delete_target_link" %>
            </span>
           <br/>
          <% end %>
          <div id="new_target_area"></div>  
          <%= link_to "+m", new_target_permissions_path(:ptype => ptype, :pgroup => pgroup, :can_action => can_action, :crud_action => crud_action, :existing_targets => targets), :remote => true, :class => "new_target_link" %>          
          <%= link_to "+c", new_category_permissions_path(:ptype => ptype, :pgroup => pgroup, :can_action => can_action, :crud_action => crud_action, :existing_targets => targets), :remote => true, :class => "new_target_link" %>
          <%= link_to "+t", new_custom_target_permissions_path(:ptype => ptype, :pgroup => pgroup, :can_action => can_action, :crud_action => crud_action, :existing_targets => targets), :remote => true, :class => "new_target_link" %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <tr><td colspan="4"></td></tr>
    <% end %>
  </table>
<% end %>

<% end %>

