<h1>Permissions</h1>
<%= render :partial => 'by_nav' %>
<hr/>
<% CantangoEditor::Permissions.yml_file_content %>

<%= form_tag permissions_path, :remote => true, :method => :post do %>
  
<% @permissions_types.each do |ptype| %>

  <% content_tag :h2, :style => "text-align:center" do %>
    <%= ptype %>
  <% end %>

  <table>
    <th class="permissions_type">
      <%= ptype %>
    </th>
    <% @permissions_groups[ptype].each do |pgroup| %>
      <tr>
        <td colspan="4" style="font-size:18px;color:green;" ><%= pgroup %></td><!--td></td><td></td><td></td-->
      </tr>    
      <th></th> <th></th>  <th>can </th>  <th>cannot</th>
      <% @actions.each do |act| %> 
      <tr> 
        <td> </td>
        <td style="color:grey"> <%= act %> </td> 
        <% [:can, :cannot].each do |can_action| %>
        <td style="width:350px;"> 
          <% (targets = @permissions[ptype][pgroup][can_action][act]).each do |model| %>
            <%= model %>
            &nbsp; 
            <small>- more options -</small>
            <%= link_to "x", "##" %>
           <br/>
          <% end %>
          <div id="new_target_area"></div>  
          <%= link_to "+", new_target_permissions_path(:existing_targets => targets), :remote => true, :class => "new_target_link" %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <tr><td colspan="4" style=""></td></tr>
    <% end %>
  </table>
<% end %>

<%= submit_tag %>
<% end %>
<hr/>
<%= link_to "Main page", main_app.root_path %>
